.profile_img{
    border-radius: 10rem;
    border-bottom-left-radius: 0;
}
.abc{
    font-style: italic;
}
.circle_story{
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #3366ff;
    padding: 0.5rem;
    color: white;
}