.story{
    border: 3px solid silver;
    border-bottom: 5px solid silver;
    border-radius: 10px;
    transition: 0.4s ease;
}
.story:hover{
    border: 3px solid #cc00ff;
    border-bottom: 5px solid #cc00ff;
    border-radius: 10px;
}
/* .last_img{
    
} */
.img{
    width: 20rem imo !important;
}